body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* Centers the text within the element */
.center-text {
  text-align: center; /* Aligns text to the center within the element */
  margin: 0 auto; /* Centers the element itself (for block elements) */
}
